#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
ipch/
obj/
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad

#MonoDevelop
*.pidb
*.userprefs

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*
*.sass-cache

#Project files
[Bb]uild/

#Subversion files
.svn

# Office Temp Files
~$*

#NuGet
packages/

#ncrunch
*ncrunch*
*crunch*.local.xml

# visual studio database projects
*.dbmdl

#Test files
*.testsettings

.DS_Store
.obj
*.moc
Makefile*
*.dylib
*.so.*
*.so
*.so.debug
*.o
*~
.cd.rc
*.swp
core
moc_*.cpp
*.Debug
*.Release
*.pdb
*.idb
*.ib_pdb_index
build
doc/html/*
doc/qch/*
config.pri
config.in
config.log
mobility.prf
mobilityconfig.prf
bin/servicexmlgen*
bin/servicefw*
bin/vsexplorer*
bin/examples/*
bin/sysinfo*
bin/qcrmlgen*
bin/icheck*
bin/servicedbgen*
bin/BearerEx
bin/contacts-tester
install/*
*.app
config.tests/networkmanager/networkmanager
config.tests/qmf/qmf
config.tests/maemo5-contacts/maemo5-contacts
config.tests/bluez/bluez

.qmake.cache
translations/qtmobility_untranslated.ts
translations/qtmobility_*.qm

#Symbian specific
*.mmp
*.pkg
bld.inf*
ABLD.BAT
*.mk
*.rss
*.sis
*.loc
*.sisx
.make.cache
qmakepluginstubs

#Carbide project files
*.project
*.cproject
*.settings
plugin_commonU.def

#QtCreator project files
*.pro.user
=======
*.pro.user*
*~

# Failed patch
*.orig
*.rej


#----------ANDROID

# built application files
*.apk
*.ap_

# files for the dex VM
*.dex

# Java class files
*.class

# generated files
gen/

# Ignore gradle files
.gradle/
build/

# Local configuration file (sdk path, etc)
local.properties

# Proguard folder generated by Eclipse
proguard/